@import url("https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recoleta+Alt&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


ul {
  text-decoration: none;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* body {
  font-size: 18px;
  color: rgb(var(--foreground-rgb));
  font-family: "Recoleta Alt", "Circular Std", sans-serif;
  background: transparent;
} */

body {
  font-family: 'Recoleta Alt', sans-serif;
}

/* Additional styles using Circular Std */
.font-circular {
  font-family: 'Circular Std', sans-serif;
}
